In [8]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from scipy import stats 
import matplotlib.pyplot as plt
from empiricaldist import Pmf , Cdf
from matplotlib.ticker import PercentFormatter

import warnings
warnings.filterwarnings("ignore")

In [4]:
fn_employment = pd.read_csv("fna02_employment_activity.csv")# fn = foreign nationals
fn_in_employment = pd.read_csv("fna08_foreign_nationals_in_employment.csv")

In [5]:
fn_employment.head()

,Statistic Label,Broad Nationality Group,Year of Entry,Year,UNIT,VALUE
0,Employment Activity of Foreign Nationals,All nationalities,All PPSN allocations to foreign nationals aged...,2002,Number,76919.0
1,Employment Activity of Foreign Nationals,All nationalities,All PPSN allocations to foreign nationals aged...,2003,Number,70138.0
2,Employment Activity of Foreign Nationals,All nationalities,All PPSN allocations to foreign nationals aged...,2004,Number,114750.0
3,Employment Activity of Foreign Nationals,All nationalities,All PPSN allocations to foreign nationals aged...,2005,Number,168197.0
4,Employment Activity of Foreign Nationals,All nationalities,All PPSN allocations to foreign nationals aged...,2006,Number,200450.0

In [6]:
fn_in_employment.head()

,Statistic Label,Broad Nationality Group,Sex,Industry Sector NACE Rev 2,Year,UNIT,VALUE
0,Foreign Nationals in Employment,All nationalities,Both sexes,"Agriculture, forestry and fishing (A)",2005,Number,5116.0
1,Foreign Nationals in Employment,All nationalities,Both sexes,"Agriculture, forestry and fishing (A)",2006,Number,6032.0
2,Foreign Nationals in Employment,All nationalities,Both sexes,"Agriculture, forestry and fishing (A)",2007,Number,6705.0
3,Foreign Nationals in Employment,All nationalities,Both sexes,"Agriculture, forestry and fishing (A)",2008,Number,6863.0
4,Foreign Nationals in Employment,All nationalities,Both sexes,"Agriculture, forestry and fishing (A)",2009,Number,6154.0